In [183]:
import pandas as pd
import altair as alt
import requests
from vega_datasets import data
alt.data_transformers.enable('data_server')
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('data_server')

In [14]:
df = pd.read_csv('../data/kaggle_survey_2022_responses.csv', skiprows=[0])
df

/var/folders/60/92v1zbc11svf39kz6pl6njxh0000gn/T/ipykernel_85503/2085735099.py:1: DtypeWarning: Columns (208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/kaggle_survey_2022_responses.csv', skiprows=[0])

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, university, or graduate)",On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - edX,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Kaggle Learn Courses,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Fast.ai,...,"Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Reddit (r/machinelearning, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Kaggle (notebooks, forums, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Course Forums (forums.fast.ai, Coursera forums, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - YouTube (Kaggle YouTube, Cloud AI Adventures, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Podcasts (Chai Time Data Science, O’Reilly Data Show, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Blogs (Towards Data Science, Analytics Vidhya, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Journal Publications (peer-reviewed journals, conference proceedings, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Slack Communities (ods.ai, kagglenoobs, etc)",Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - None,Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Other
0,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
3,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
4,232,45-49,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23992,331,22-24,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
23993,330,60-69,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23994,860,25-29,Man,Turkey,No,NaN,NaN,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23995,597,35-39,Woman,Israel,No,NaN,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23996,303,18-21,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other

In [15]:
df = df[df['What is your gender? - Selected Choice'].notna()]
df = df.rename(columns={'What is your gender? - Selected Choice' : 'What is your gender?'})
df

,Duration (in seconds),What is your age (# years)?,What is your gender?,In which country do you currently reside?,"Are you currently a student? (high school, university, or graduate)",On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - edX,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Kaggle Learn Courses,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - DataCamp,On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Fast.ai,...,"Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Reddit (r/machinelearning, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Kaggle (notebooks, forums, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Course Forums (forums.fast.ai, Coursera forums, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - YouTube (Kaggle YouTube, Cloud AI Adventures, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Podcasts (Chai Time Data Science, O’Reilly Data Show, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Blogs (Towards Data Science, Analytics Vidhya, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Journal Publications (peer-reviewed journals, conference proceedings, etc)","Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Slack Communities (ods.ai, kagglenoobs, etc)",Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - None,Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Other
0,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
3,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
4,232,45-49,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23992,331,22-24,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
23993,330,60-69,Man,United States of America,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23994,860,25-29,Man,Turkey,No,NaN,NaN,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23995,597,35-39,Woman,Israel,No,NaN,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
23996,303,18-21,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other

In [16]:
df['What is your age (# years)?'].value_counts()

18-21    4559
25-29    4472
22-24    4283
30-34    2972
35-39    2353
40-44    1927
45-49    1253
50-54     914
55-59     611
60-69     526
70+       127
Name: What is your age (# years)?, dtype: int64

In [175]:
alt.Chart(df[['What is your gender?']]).mark_bar().encode(
    alt.Y("What is your gender?", sort='-x'),
    x='count()',
    color=alt.Color('What is your gender?', scale=alt.Scale(scheme='accent'), legend=None),
    tooltip='count()'
).properties(
    width=600,
    height=300
)

/Users/lzung/opt/miniconda3/envs/wids-2022/lib/python3.11/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.Chart(...)

In [23]:
age_subset = df.loc[(df['What is your gender?'] == 'Man') | (df['What is your gender?'] == 'Woman'), ['What is your age (# years)?', 'What is your gender?']]
age_subset

      What is your age (# years)? What is your gender?
0                           30-34                  Man
1                           30-34                  Man
2                           18-21                  Man
3                           55-59                  Man
4                           45-49                  Man
...                           ...                  ...
23992                       22-24                  Man
23993                       60-69                  Man
23994                       25-29                  Man
23995                       35-39                Woman
23996                       18-21                  Man

[23552 rows x 2 columns]

In [125]:
alt.Chart(age_subset).mark_bar().encode(
    alt.X("What is your age (# years)?:N", sort=['18-21', '22-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-69', '70+'], axis=alt.Axis(labelAngle=-45)),
    y='count()',
    color=alt.Color('What is your gender?', scale=alt.Scale(scheme='accent'), legend=None),
    tooltip='count()'
).properties(
    width=500,
    height=300
).facet(
    row=alt.Row('What is your gender?', sort=['Man', 'Woman'])
).interactive()

alt.FacetChart(...)

In [174]:
alt.Chart(age_subset).mark_bar().encode(
    x=alt.X('What is your gender?', axis=None),
    y='count()',
    color=alt.Color('What is your gender?', scale=alt.Scale(scheme='accent')),
    column=alt.Column('What is your age (# years)?', header=alt.Header(orient='bottom')),
    tooltip='count()'
).properties(width=50).interactive()

alt.Chart(...)

In [103]:
student_subset = df.loc[(df['What is your gender?'] == 'Man') | (df['What is your gender?'] == 'Woman'), ['Are you currently a student? (high school, university, or graduate)', 'What is your gender?']]
student_subset

,"Are you currently a student? (high school, university, or graduate)",What is your gender?
0,No,Man
1,No,Man
2,Yes,Man
3,No,Man
4,Yes,Man
...,...,...
23992,Yes,Man
23993,Yes,Man
23994,No,Man
23995,No,Woman
23996,Yes,Man

In [291]:
student_chart = alt.Chart(student_subset).mark_bar().encode(
    alt.X("Are you currently a student? (high school, university, or graduate)", sort=['No', 'Yes'], axis=alt.Axis(title='')),
    y='count()',
    color=alt.Color('What is your gender?', scale=alt.Scale(scheme='accent')),
    tooltip='count()'
).properties(
    width=200,
    height=200
).facet(
    column=alt.Column('What is your gender?', sort=['Man', 'Woman'], header=alt.Header(title='Are you currently a student? (high school, university, or graduate)', labels=False))
).resolve_scale(
    x='independent'
).interactive()
student_chart

alt.FacetChart(...)

In [293]:
student_chart.save('../img/student_chart.html', embed_options={'renderer': 'png'})

In [10]:
with open('questions.txt', 'w') as f:
    for q in df.columns:
        f.write(q + '\n')

In [186]:
country_df = df[['What is your gender?', 'In which country do you currently reside?']]

In [98]:
brush = alt.selection_single(encodings=["y"],on="mouseover", empty='none')
color = alt.Color('In which country do you currently reside?', scale=alt.Scale(scheme='accent'), legend=None)

alt.hconcat(
    alt.Chart().mark_bar().encode(
        x=alt.X('count()', scale=alt.Scale(nice=False)),
        y=alt.Y('In which country do you currently reside?', sort='-x'),
        # tooltip=['What','pop_est','gdp_md_est'],
        color=alt.condition(brush, alt.value('lightgray'), color)
        ).add_selection(
            brush
        ).properties(
            width=200,
            height=450
        ),
    alt.Chart().mark_geoshape().project().encode(
        color=alt.condition(
            brush,
            alt.value('lightgray'),
            color,
        ),
        # tooltip=['name','pop_est','gdp_md_est'],
        ).properties(
            width=300,
            height=450,
            title='World Pop'
        ),
    data=country_df
)

/Users/lzung/opt/miniconda3/envs/wids-2022/lib/python3.11/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.HConcatChart(...)

In [187]:
country_data = pd.read_csv("https://gist.githubusercontent.com/metal3d/5b925077e66194551df949de64e910f6/raw/c5f20a037409d96958553e2eb6b8251265c6fd63/country-coord.csv")
country_data.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,AF,AFG,4,33.0000,65.0
1,Albania,AL,ALB,8,41.0000,20.0
2,Algeria,DZ,DZA,12,28.0000,3.0
3,American Samoa,AS,ASM,16,-14.3333,-170.0
4,Andorra,AD,AND,20,42.5000,1.6

In [195]:
country_df = country_df.groupby(['What is your gender?', 'In which country do you currently reside?']).size().reset_index(name='counts')
country_df.head()

  What is your gender? In which country do you currently reside?  counts
0                  Man                                   Algeria      44
1                  Man                                 Argentina     145
2                  Man                                 Australia     106
3                  Man                                Bangladesh     209
4                  Man                                   Belgium      46

In [235]:
merged_country = country_df.merge(country_data, left_on='In which country do you currently reside?', right_on='Country')
merged_country

,What is your gender?,In which country do you currently reside?,counts,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Man,Algeria,44,Algeria,DZ,DZA,12,28.0,3.0
1,Prefer not to say,Algeria,2,Algeria,DZ,DZA,12,28.0,3.0
2,Woman,Algeria,16,Algeria,DZ,DZA,12,28.0,3.0
3,Man,Argentina,145,Argentina,AR,ARG,32,-34.0,-64.0
4,Prefer not to say,Argentina,2,Argentina,AR,ARG,32,-34.0,-64.0
...,...,...,...,...,...,...,...,...,...
154,Nonbinary,Viet Nam,1,Viet Nam,VN,VNM,704,16.0,106.0
155,Prefer not to say,Viet Nam,4,Viet Nam,VN,VNM,704,16.0,106.0
156,Woman,Viet Nam,28,Viet Nam,VN,VNM,704,16.0,106.0
157,Man,Zimbabwe,39,Zimbabwe,ZW,ZWE,716,-20.0,30.0
158,Woman,Zimbabwe,15,Zimbabwe,ZW,ZWE,716,-20.0,30.0

In [236]:
merged_country.sort_values('counts', ascending=False).head(10)

,What is your gender?,In which country do you currently reside?,counts,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
57,Man,India,6488,India,IN,IND,356,20.0,77.0
61,Woman,India,2179,India,IN,IND,356,20.0,77.0
17,Man,Brazil,706,Brazil,BR,BRA,76,-10.0,-55.0
98,Man,Nigeria,548,Nigeria,NG,NGA,566,10.0,8.0
101,Man,Pakistan,512,Pakistan,PK,PAK,586,30.0,70.0
74,Man,Japan,504,Japan,JP,JPN,392,36.0,138.0
30,Man,China,356,China,CN,CHN,156,35.0,105.0
85,Man,Mexico,316,Mexico,MX,MEX,484,23.0,-102.0
41,Man,Egypt,293,Egypt,EG,EGY,818,27.0,30.0
62,Man,Indonesia,266,Indonesia,ID,IDN,360,-5.0,120.0

In [237]:
merged_country = merged_country.loc[(merged_country['What is your gender?'] == 'Man') |(merged_country['What is your gender?'] == 'Woman')]
merged_country

,What is your gender?,In which country do you currently reside?,counts,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Man,Algeria,44,Algeria,DZ,DZA,12,28.0,3.0
2,Woman,Algeria,16,Algeria,DZ,DZA,12,28.0,3.0
3,Man,Argentina,145,Argentina,AR,ARG,32,-34.0,-64.0
6,Woman,Argentina,56,Argentina,AR,ARG,32,-34.0,-64.0
7,Man,Australia,106,Australia,AU,AUS,36,-27.0,133.0
...,...,...,...,...,...,...,...,...,...
152,Woman,United Arab Emirates,20,United Arab Emirates,AE,ARE,784,24.0,54.0
153,Man,Viet Nam,179,Viet Nam,VN,VNM,704,16.0,106.0
156,Woman,Viet Nam,28,Viet Nam,VN,VNM,704,16.0,106.0
157,Man,Zimbabwe,39,Zimbabwe,ZW,ZWE,716,-20.0,30.0
158,Woman,Zimbabwe,15,Zimbabwe,ZW,ZWE,716,-20.0,30.0

In [238]:
continents = pd.read_csv("https://raw.githubusercontent.com/dbouquin/IS_608/master/NanosatDB_munging/Countries-Continents.csv")
continents

         Continent    Country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

In [239]:
merged_country = merged_country.merge(continents, left_on='Country', right_on='Country')
merged_country

,What is your gender?,In which country do you currently reside?,counts,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average),Continent
0,Man,Algeria,44,Algeria,DZ,DZA,12,28.0,3.0,Africa
1,Woman,Algeria,16,Algeria,DZ,DZA,12,28.0,3.0,Africa
2,Man,Argentina,145,Argentina,AR,ARG,32,-34.0,-64.0,South America
3,Woman,Argentina,56,Argentina,AR,ARG,32,-34.0,-64.0,South America
4,Man,Australia,106,Australia,AU,AUS,36,-27.0,133.0,Oceania
...,...,...,...,...,...,...,...,...,...,...
89,Woman,Ukraine,22,Ukraine,UA,UKR,804,49.0,32.0,Europe
90,Man,United Arab Emirates,73,United Arab Emirates,AE,ARE,784,24.0,54.0,Asia
91,Woman,United Arab Emirates,20,United Arab Emirates,AE,ARE,784,24.0,54.0,Asia
92,Man,Zimbabwe,39,Zimbabwe,ZW,ZWE,716,-20.0,30.0,Africa
93,Woman,Zimbabwe,15,Zimbabwe,ZW,ZWE,716,-20.0,30.0,Africa

In [289]:
graticule = alt.graticule()
countries = alt.topo_feature(data.world_110m.url, 'countries')

background = alt.Chart(countries).mark_geoshape(
    fill='lightgray',
    stroke='white'
).project('naturalEarth1').properties(
    width=500,
    height=300
)

men_points = (
        alt.Chart(merged_country.loc[merged_country['What is your gender?'] == 'Man'])
        .mark_circle()
        .transform_calculate(
            combined_tooltip = "datum.Country + ': ' + datum.counts"
        ).encode(
            longitude="Longitude (average):Q",
            latitude="Latitude (average):Q",
            size=alt.Size(
                "counts", scale=alt.Scale(range=(20, 1000)), title="Number of Kaggle Users"
            ),
            color=alt.Color("Continent", title="Continent"),
            tooltip='combined_tooltip:N'
        )
    )

women_points = (
        alt.Chart(merged_country.loc[merged_country['What is your gender?'] == 'Woman'])
        .mark_circle()
        .transform_calculate(
            combined_tooltip = "datum.Country + ': ' + datum.counts"
        ).encode(
            longitude="Longitude (average):Q",
            latitude="Latitude (average):Q",
            size=alt.Size(
                "counts", scale=alt.Scale(range=(20, 1000)), title="Number of Kaggle Users"
            ),
            color=alt.Color("Continent", title="Continent"),
            tooltip='combined_tooltip:N'
        )
    )

(background + men_points) & (background + women_points)

alt.VConcatChart(...)

In [285]:
alt.Chart(countries).mark_geoshape(
    fill='lightgray',
    stroke='white'
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(merged_country, 'Numeric code', list(merged_country.columns))
).mark_circle().transform_calculate(
    combined_tooltip = "datum.Country + ': ' + datum.counts"
).encode(
    longitude="Longitude (average):Q",
    latitude="Latitude (average):Q",
    size=alt.Size(
        "counts:Q", scale=alt.Scale(range=(20, 1000)), title="Number of Kaggle Users"
    ),
    color=alt.Color("Continent:N", title="Continent"),
    tooltip='combined_tooltip:Q'
).project(
    type='naturalEarth1'
).properties(
    width=600
)

alt.Chart(...)